<div class="row">
  <div class="span8">
    <div class="item-container-body">
      <h3>Post a Comment</h3>
      <%= form_for ([@post, @comment]) do |f| %>
        <% if @comment.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@post.comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

            <ul>
            <% @post.comment.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= f.label :body %>
          <%= f.text_area :body ,:id=>"message_area"%>
        </div>
        <div class="actions">
          <%= f.submit class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>