<div class="root">
  <div class="row">
      <div class="span12">
          <div class="grey-box">
        <h1>Listing contacts</h1>
        <%# if current_user.admin? %>
          <!-- <div>
            <button type="button" class="import">Import Contacts</button>
          </div> -->

          <div class="import-area">
            <h4>Import Contacts</h4>
            <%= form_tag import_contacts_path, multipart: true do %>
              <%= file_field_tag :file, :class => 'btn' %>
              <%= submit_tag "Import" , :class => 'btn btn-primary' %>
            <% end %>
          </div>
        <% #end %>
        <br/>
        <div>
          <span style="float:left">
            <%= link_to contacts_path(:user_id => 4), class: 'btn btn-primary btn-sm' do %>
              John&nbsp;<span class="badge"><%= Contact.john.size %></span>
            <% end %>
            <%= link_to contacts_path(:user_id => 5), class: 'btn btn-primary btn-sm' do %>
              Wayne&nbsp;<span class="badge"><%= Contact.wayne.size %></span>
            <% end %>

          </span>
          <span style="float:right">
            Download:
            <%= link_to('<i class="icon-file"></i>CSV'.html_safe, contacts_path(format:"csv")) %> |
            <%= link_to('<i class="icon-file"></i>Excel'.html_safe, contacts_path(format:"xls"))%>
          </span>
        </div>
        <div style="clear: both;"></div>
        <br/>
<!--         
        <table class="table table-striped datalist" id="joblist_table">
          <thead>
            <tr>
              <th>Last name</th>
              <th>First name</th>
              <th>Company</th>
              <th>Phone</th>
              <th>Email</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <%#= render :partial => 'tabledata'  %>
          </tbody>
        </table>
 -->
        <%#= render :partial => 'table'  %>
        
        <%#= @contacts.each do |contact| %>
          <%#= render :partial => 'data', locals: {contact: contact} %>
        <%# end %>

        <%#= @contacts.each do |contact| %>
          <%#= render :partial => 'data', locals: {contact: contact} %>
        <%# end %>
        
        <%# @contacts.each_with_index do |tag, index| %>
          <%#= index %>
          <%#= "<br />" if (index % 5).zero? %>
        <%# end %>

        <div id="contact_list">
        <%= render :partial => 'datalist' %>
        </div>
        <%= paginate @contacts %>
        <%#= link_to 'New Contact', new_contact_path %>
        
      </div>      
    </div>
  </div>
</div>