<div class="root">
  <div class="row">
      <div class="span12">
          <div class="grey-box">
        <h1>Listing contacts</h1>
        <% if current_user.admin? %>
          <div>
            <h2>Import Contacts</h2>
            <%= form_tag import_contacts_path, multipart: true do %>
              <%= file_field_tag :file %>
              <%= submit_tag "Import" %>
            <% end %>
          </div>
        <% end %>
        <div>
          <span style="float:right">
            Download:
            <%= link_to('<i class="icon-file"></i>CSV'.html_safe, contacts_path(format:"csv")) %> |
            <%= link_to('<i class="icon-file"></i>Excel'.html_safe, contacts_path(format:"xls"))%>
          </span>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>First name</th>
              <th>Last name</th>
              <th>Company</th>
              <th>Business phone</th>
              <th>Email</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @contacts.each do |contact| %>
              <tr>
                <td><%= contact.first_name %></td>
                <td><%= contact.last_name %></td>
                <td><%= contact.company %></td>
                <td><%= contact.business_phone %></td>
                <td><%= contact.email %></td>
                <td><%= link_to 'Show', contact %></td>
                <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
                <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>

        <%= link_to 'New Contact', new_contact_path %>
        
      </div>      
    </div>
  </div>
</div>