<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @contact.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @contact.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @contact.last_name %>
</p>

<p>
  <strong>Suffix:</strong>
  <%= @contact.suffix %>
</p>

<p>
  <strong>Company:</strong>
  <%= @contact.company %>
</p>

<p>
  <strong>Department:</strong>
  <%= @contact.department %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @contact.job_title %>
</p>

<p>
  <strong>Business street:</strong>
  <%= @contact.business_street %>
</p>

<p>
  <strong>Business city:</strong>
  <%= @contact.business_city %>
</p>

<p>
  <strong>Business state:</strong>
  <%= @contact.business_state %>
</p>

<p>
  <strong>Business zipcode:</strong>
  <%= @contact.business_zipcode %>
</p>

<p>
  <strong>Business fax:</strong>
  <%= @contact.business_fax %>
</p>

<p>
  <strong>Business phone:</strong>
  <%= @contact.business_phone %>
</p>

<p>
  <strong>Business phone2:</strong>
  <%= @contact.business_phone2 %>
</p>

<p>
  <strong>Company phone:</strong>
  <%= @contact.company_phone %>
</p>

<p>
  <strong>Home phone:</strong>
  <%= @contact.home_phone %>
</p>

<p>
  <strong>Mobile phone:</strong>
  <%= @contact.mobile_phone %>
</p>

<p>
  <strong>Other phone:</strong>
  <%= @contact.other_phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @contact.website %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
