<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!--   <div class="field">
    <%= f.label :user %><br>
    <%= f.text_field :user %>
  </div> -->
  <div class="field">
    <%= f.label :contact_id %><br>
    <%= f.select(:contact_id, Contact.order(:last_name).map{|c| ["#{c.last_name}, #{c.first_name} - #{c.company}", c.id]}, include_blank: 'Select a Contact', style: "width:200px")%>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body, cols: 40, rows: 10 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
